{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Open Learn</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% comment %} <link href="https://cdn.jsdelivr.net/npm/daisyui@2.15.2/dist/full.css" rel="stylesheet" type="text/css" />
		<script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
		{% tailwind_css %}
	</head>

	<body class="bg-gray-50 font-serif leading-normal tracking-normal">
		<!-- <div class="container mx-auto">
			<section class="flex items-center justify-center h-screen">
				<h1 class="text-5xl">Django + Tailwind = ❤️</h1>
			</section>
		</div> -->
		<div class="navbar bg-base-100">
			<div class="navbar-start">
			  <a href = "/" class="btn btn-ghost normal-case text-xl">Open Learn</a>
			</div>
			<div class="navbar-center hidden lg:flex">
			  <ul class="menu menu-horizontal p-0">
				<li><a>My Courses</a></li>
				<li tabindex="0">
				  <a>
					Explore
				  </a>
				</li>
				<li><a>Saved</a></li>
			  </ul>
			</div>
			<div class="navbar-end">
				<form action="/main/search/" method="get">
					<input type="text" placeholder="Search" class="input input-bordered input-primary" />
					<input class="btn btn-primary" type="submit" value="Submit">
				</form>
			</div>
		  </div>
		{% block content %}
		{% endblock %}

	<footer class="footer p-10 bg-neutral text-neutral-content">
		<div>
		  <span class="footer-title">Services</span> 
		  <a class="link link-hover">Branding</a>
		  <a class="link link-hover">Design</a>
		  <a class="link link-hover">Marketing</a>
		  <a class="link link-hover">Advertisement</a>
		</div> 
		<div>
		  <span class="footer-title">Company</span> 
		  <a class="link link-hover">About us</a>
		  <a class="link link-hover">Contact</a>
		  <a class="link link-hover">Jobs</a>
		  <a class="link link-hover">Press kit</a>
		</div> 
		<div>
		  <span class="footer-title">Legal</span> 
		  <a class="link link-hover">Terms of use</a>
		  <a class="link link-hover">Privacy policy</a>
		  <a class="link link-hover">Cookie policy</a>
		</div>
	  </footer>
	</body>
</html>
